<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NINJAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <script src="main.js"></script>
</head>
<body>
    <h1>THIS IS SOME INFO ABOUT NINJAS!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem libero asperiores eum incidunt doloremque suscipit sequi nesciunt, labore ducimus itaque obcaecati non accusantium? Amet ut dolor repellat? Rerum, quae ex!</p>
</body>
</html>